@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
}

.container {
    box-shadow: 0px 10px 5px #0003;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: auto 5px;
}